<nav class="menu">
  <div class="icon-list">
    <a href="#" {{action 'logout'}}><i class="fa fa-fw fa-bell-o"></i><span>Log Out</span></a>
    <a href="#"><i class="fa fa-fw fa-envelope-o"></i><span>Messages</span></a>
    <a href="#"><i class="fa fa-fw fa-comment-o"></i><span>Comments</span></a>
    <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i><span>Festivals</span></a>
    <a href="#"><i class="fa fa-fw fa-newspaper-o"></i><span>Artists</span></a>
    <a href="#"><i class="fa fa-fw fa-newspaper-o"></i><span>Tickets</span></a>
    <a href="#"><i class="fa fa-fw fa-star-o"></i><span>Forums</span></a> {{yield}}
  </div>
</nav>
<button class="close-button" id="close-button">Close Menu</button>
