h1="Please confirm your email to activate your Sonatibe account"

p
  | We need you to activate your email account before we can register you, please click the link below to progress

a(href=url)=url
